
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using Capstone.Web.Models
@using Capstone.Web.DAL
@model Park
@{ string imagePath = "../../Content/img/" + Model.ParkCode + ".jpg";
    ForeCastSQLDAL sql = new ForeCastSQLDAL();
    List<ForeCast> fiveDayWeather = sql.GetForecast(Model.ParkCode);
}

<div class="container">

    <div class="col-md-6">
        <img src=@imagePath />
    </div>
    <div class="col-md-6">
        <h4>@Model.ParkName</h4>
        <div><strong>@Model.State</strong></div>
        <div>
            <br /><br />
            <table>
                <tr>
                    <td><strong>Acreage</strong></td>
                    <td>@Model.Acreage</td>
                </tr>
                <tr>
                    <td><strong>Elevation</strong></td>
                    <td>@Model.ElevationInFeet ft.</td>
                </tr>
                <tr>
                    <td><strong>Miles of Trail</strong></td>
                    <td>@Model.MilesOfTrail miles</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><strong># of Campsites</strong></td>
                    <td>@Model.NumberOfCampsites</td>
                </tr>
                <tr>
                    <td><strong>Climate</strong></td>
                    <td>@Model.Climate</td>
                </tr>
                <tr>
                    <td><strong>Year Founded</strong></td>
                    <td>@Model.YearFounded</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><strong>Annual Visitors</strong></td>
                    <td>@Model.AnnualVisitorCount</td>
                </tr>
                <tr>
                    <td><strong># Animal Species</strong></td>
                    <td>@Model.NumberOfAnimalSpecies</td>
                </tr>
                <tr>
                    <td><strong>Entry Fee</strong></td>
                    <td>@Model.EntryFee.ToString("C2")</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container detailDescription">
    <br />
    <div>@Model.ParkDescription</div>
    <br />
    <div><i>@Model.InspirationalQuote</i> ~ @Model.QuoteSource</div>
</div>
<br /><br /><br />


<div class="container jumbotron">
    @{ foreach (ForeCast day in fiveDayWeather)
        {
            string imgPath = string.Empty;
            if (day.Forecast == "partly cloudy")
            {
                imgPath = "../../Content/img/partlycloudy.png";
            }
            else
            {
               imgPath = "../../Content/img/" + day.Forecast + ".png";
            }
            if (day.FiveDayForecastValue == 1)
            {
                <div class="col-md-4">
                    <h2>Today:</h2>
                    <img class="weatherimgToday" src=@imgPath />
                    <p><strong>High:</strong> @day.InCelsius(day.High).ToString("F0")&deg;C  <strong>Low:</strong> @day.InCelsius(day.Low).ToString("F0")&deg;C</p> <br />
                    @switch (day.Forecast)
                    {
                        case "snow":
                            <p>Don't get stuck in the snow, pack snow shoes today!</p>
                            break;
                        case "rain":
                            <p>Don't jog in wet clogs, bring raingear today!</p>
                            break;
                        case "thunderstorms":
                            <p>A blistery day it seems. It is advised to seek shelter and avoid expose ridges!</p>
                            break;

                    }
                    @if (day.High > 75)
                    {
                        <p>What a scorcher! Consider packing extra water.</p>}
                    else if (day.High - day.Low > 20)
                    {
                        <p>Temperature variability makes breathable layers a must!</p>
                    }
                    else if (day.Low < 20)
                    {
                        <p>Burrr! Don't get caught in the cold unprepared!</p>}
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <img class="weatherimg" src=@imgPath />
                    <p><strong>High:</strong>@day.InCelsius(day.High).ToString("F0")&deg;C </p>
                    <p><strong>Low:</strong> @day.InCelsius(day.Low).ToString("F0")&deg;C</p>
                </div>
            }
        }
    }
</div>
<div class="container">
    @using (Html.BeginForm("Detail", "Park", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ParkCode, Model.ParkCode)
        @Html.HiddenFor(m => m.ParkName, Model.ParkName)
        @Html.HiddenFor(m => m.State, Model.State)
        @Html.HiddenFor(m => m.Acreage, Model.Acreage)
        @Html.HiddenFor(m => m.ElevationInFeet, Model.ElevationInFeet)
        @Html.HiddenFor(m => m.MilesOfTrail, Model.MilesOfTrail)
        @Html.HiddenFor(m => m.NumberOfCampsites, Model.NumberOfCampsites)
        @Html.HiddenFor(m => m.Climate, Model.Climate)
        @Html.HiddenFor(m => m.YearFounded, Model.YearFounded)
        @Html.HiddenFor(m => m.AnnualVisitorCount, Model.AnnualVisitorCount)
        @Html.HiddenFor(m => m.InspirationalQuote, Model.InspirationalQuote)
        @Html.HiddenFor(m => m.QuoteSource, Model.QuoteSource)
        @Html.HiddenFor(m => m.ParkDescription, Model.ParkDescription)
        @Html.HiddenFor(m => m.EntryFee, Model.EntryFee)
        @Html.HiddenFor(m => m.NumberOfAnimalSpecies, Model.NumberOfAnimalSpecies)
        <button class="btn-primary">Convert To Farenheit</button>
    }
</div>