@{
    ViewBag.Title = "Survey Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using Capstone.Web.Models;
@model Survey

<h2>Survey</h2>

@using (Html.BeginForm("FavoriteParks", "Survey", FormMethod.Post))
{
    <div class="formInputGroup">
        @Html.Label("Favorite Park Name", "ParkName")
        @Html.DropDownListFor(m => m.FavoriteParkCode, Survey.ParkNames)
        @Html.ValidationMessageFor(m => m.FavoriteParkCode)
    </div>
    <div class="formInputGroup">
        @Html.LabelFor(m=> m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="formInputGroup">
        @Html.LabelFor(m=> m.ResidenceState)
        @Html.TextBoxFor(m => m.ResidenceState)
        @Html.ValidationMessageFor(m => m.ResidenceState)

    </div>
    <div class="formInputGroup">
        @Html.Label("Activity Level", "Activity Level")
        @Html.DropDownListFor(m => m.ActivityLevel, Survey.ActivityLevels)
        @Html.ValidationMessageFor(m => m.ActivityLevel)

    </div>

    <button class="formSubmitButton">SUBMIT!</button>
}
