@{
    ViewBag.Title = "Survey Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using Capstone.Web.Models;
@model Survey

<h2 style="text-align:center">Survey</h2>
<div class="container formInputGroup">
    @using (Html.BeginForm("FavoriteParks", "Survey", FormMethod.Post))
    {

    <pre style="font-family: Helvetica;">
            @Html.Label("Favorite Park Name", "ParkName")                  @Html.DropDownListFor(m => m.FavoriteParkCode, Survey.ParkNames)
            @Html.ValidationMessageFor(m => m.FavoriteParkCode)
            @Html.LabelFor(m => m.Email)                          @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.LabelFor(m => m.ResidenceState)         @Html.TextBoxFor(m => m.ResidenceState)
            @Html.ValidationMessageFor(m => m.ResidenceState)
            @Html.Label("Activity Level", "Activity Level")             @Html.DropDownListFor(m => m.ActivityLevel, Survey.ActivityLevels)
            @Html.ValidationMessageFor(m => m.ActivityLevel)

            <button class="formSubmitButton">SUBMIT!</button>
</pre>
    }
</div>
